.chat-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  background-color: #f9f9f9;
}

/* Сообщение обёрнуто в строку */
.chat-row {
  display: flex;
  width: 100%;
}

/* Свои — справа */
.chat-row.own {
  justify-content: flex-end;
}

/* Чужие — слева */
.chat-row.other {
  justify-content: flex-start;
}

/* Сообщение */
.chat-bubble {
  display: flex;
  max-width: 60%;
  padding: 10px 14px ;
  border-radius: 16px;
  word-break: break-word;
  position: relative;
  background-color: #f1f0f0;
  margin-bottom: 10px;
}

.chat-bubble.own {
  background-color: #dcf8c6;
  border-bottom-right-radius: 0;
  text-align: right;
}

.chat-bubble.other {
  border-bottom-left-radius: 0;
  text-align: left;
}
.delete-btn{
  border-radius: 16px;
  margin-left: 15px;
  background-color: rgb(255, 214, 127);
}